<%= form_for [@forum, @topic], url: forum_topic_path(@forum, @topic) do |f| %>
    <% if @topic.errors.any? %>
        <% flash.now[:error] = @topic.errors.full_messages.join(', and ') %>
    <% end %>
    <div class="module">
      <div class="module_header"><%= action_name.humanize %> Topic</div>
      <div class="module_subheader smaller"></div>
      <div class="module_body form-horizontal">
        <div class="fieldset">
        <span class="label indent smaller">
          <%= f.label :title %><br/>
          <small>(Required)</small>
        </span>
          <span class="input indent smaller"><%= f.text_field :title, :size => 100, :class => "span8" %></span>

          <div class="clear"></div>
        </div>
        <% if policy(@topic).moderate? %>
        <div class="fieldset">
          <span class="label indent smaller">
            <%= f.label :forum %><br/>
            <small>(Moderation: Move topic to another Forum)</small>
          </span>
          <span class="input indent smaller"><%= f.collection_select :forum_id, policy_scope(Forum::Forum).all, :id, :title %></span>

          <div class="clear"></div>
        </div>
        <% end %>
        <% unless @topic.id %>
            <div class="fieldset">
        <span class="label indent smaller">
          <%= f.label :body %><br/>
          <small>(Required)</small>
        </span>
              <span class="input indent smaller"><%= f.text_area :body, :cols => 100, :rows => 15, class: "span8 markdown" %></span>

              <div class="clear"></div>
            </div>
            </div>
        <% end %>
        <div class="module_footer">
          <div class="fieldset">
            <span class="input"><%= f.submit "submit", class: "btn btn-primary" %>
              or <%= link_to "cancel", @topic.nil? ? @topic : @forum %></span>

            <div class="clear"></div>
          </div>
        </div>
        </div>
<% end %>
