.module
  .module_header
    = action_name.humanize
    Post
  .module_subheader.smaller
  .module_body
    = form_for [@forum, @topic, @post], url: forum_post_path(@forum, @topic, @post) do |f|
      - if @post.errors.any?
        - flash.now[:error] = @post.errors.full_messages.join(', and ')
      .fieldset
        %span.label.indent.smaller
          = f.label :body
          %br/
          %small (Required)
        %span.input.indent.smaller= f.text_area :body, cols: 100, rows: 15, class:'span8 markdown'
        .clear
      .module_footer
        .fieldset
          %span.input
            = f.submit "submit", class:"btn btn-primary"
            or #{link_to "cancel", forum_topic_path(@post.forum, @post.topic)}
          .clear