#copyright 1998 - 2011 &copy; FlagRun Networks
#service
  = link_to 'About', main_app.service_about_path
  |
  = link_to 'Abuse', main_app.service_abuse_path
  |
  = link_to 'Policy', main_app.service_policy_path
  |
  = link_to 'Contact Us', main_app.service_contact_path
  |
  = link_to 'Credits', main_app.service_credits_path